In TOMCAT /*Pisi, pisi*/
Add to web.xml the following:

<description>MySQL What should I Do</description>
<resource-ref>
	<description>DB Connection</description>
	<res-ref-name>jdbc/what_should_i_do</res-ref-name>
	<res-type>javax.sql.DataSource</res-type>
	<res-auth>Container</res-auth>
 </resource-ref>
 
 Add to context.xml the following:
 
 <Resource name="jdbc/what_should_i_do" auth="Container" type="javax.sql.DataSource"
               maxActive="100" maxIdle="30" maxWait="10000"
               username="root" password="root" driverClassName="com.mysql.jdbc.Driver"
               url="jdbc:mysql://localhost:3306/what_should_i_do"/>
 
 