<form name="userForm" ng-submit="save()">
	<div>
		<label for="username">Username:</label>
		<input ng-model="user.username" id="username" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input ng-model="user.password" id="password" type="password" />
	</div>
	<div>
		<label for="email">Email:</label>
		<input ng-model="user.email" id="email" email/>
	</div>
	<div>
		<label for="firstName">First Name:</label>
		<input ng-model="user.firstName" id="firstName"/>
	</div>
	<div>
		<label for="lastName">Last Name:</label>
		<input ng-model="user.lastName" id="lastName"/>
	</div>
	<div>
		<label for="age">Age:</label>
		<input ng-model="user.age" id="age"/>
	</div>
	<div>
		<input type="submit"/>
	</div>
</form>